@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<UmbracoFundamentals.Code.TextPageContentViewModel>
@{
	Layout = "childPage.cshtml";
}
<section id="single-content" class="bg-white">
    <div class="container">
        <div class="section-content blog-content">
            <div class="row">
                <div class="col-md-8 offset-md-2 mt-4">
                   @Model.Content.BodyText
                </div>
                <div class="col-md-2 mt-4 align-self-start">
                    <ul class="side-nav">
                        @foreach (var child in Model.AncestorOrSelf(2).Children)
                        {
                            @if (Model.Name == child.Name)
                            {
                                <h6 class="uppercase"><a class="nav-current" href="@child.Url()">@child.Name</a></h6>
                            }
                            else
                            {
                                <h6 class="uppercase"><a href="@child.Url()">@child.Name</a></h6>
                            }
                        }
                    </ul>

                </div>
            </div>
        </div>
    </div>
</section>
